body {
	background-image: url("");
	background-size: cover;
	background-repeat: no-repeat;
}


button {
	cursor: pointer;
	color: white;
	border-radius: 5px;
	background-color: #1a73e8;
	border-color: #2e6da4;
	padding: 3px 10px;
  	outline: none;
}

/*all a with parent of div*/
div > a {
	text-decoration: none;
	color: blue;
}

.settings-icon {
	max-width: 30px;
	height: auto;
	float: right;
}

#add-icon {
	max-width: 25px;
	height: auto;
}

.hide {
	display: none;
}

.greeting {
	cursor: default;
	padding-top: 5px;
	text-align: center;
	font-size: 50px;
}

#weather-container {
	cursor: default;
	text-align: center;
	font-size: 30px;
}

#name-input {
	font-size: 20px;
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	outline: none;
}

#name-input-div {
	padding-bottom: 30px;
}

.link-header-container {
	display: flex;
	justify-content: center;
}

.link-header {
	cursor: default;
	margin: 0px 10px;
	font-size: 20px;
}

#show-link {
	cursor: pointer;
	user-select: none;
}

.link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#link-input-div {
	padding: 5px;
}

.link-inputfield {
	margin: 5px 3px;
	font-size: 15px;
	width: 90%;
}

.add-link-button {
	margin: 3px;
	border-radius: 5px;
	cursor: pointer;
}

.link {
	font-size: 18px;
	padding: 5px 10px;
}

.notepad-div {
	display: flex;
	justify-content: center;
}

.editor-options{
	cursor: pointer;
	max-width: 20px;
	height: auto;
	float: right;
	padding: 0 3px;
}

.editor-selected{
	background-color: grey;
}

.font-size-select{
	float: right;
	padding: 0 4px;
}

#notepad {
	padding: 5px;
	font-size: 14px;
	border: 1px solid grey;
	border-radius: 2px;
	width: 500px;
	height: 400px;
	overflow-y: auto;
	outline: none;
	box-shadow: 1px 1px 2px 1px grey;
}

#notepad-container {
	padding: 10px 0;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.search-form {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	max-width: 100%;
}

#search {
	font-size: 16px;
	border: none;
	outline: none;
	padding: 5px 10px;
	height: 30px;
	width: 500px;
	box-shadow: 1px 1px 2px 1px grey;
	transition: box-shadow .2s;
}

#search:hover, #notepad:hover, #search:focus, #notepad:focus {
	box-shadow: 1px 2px 6px 1px grey
}

#notification {
	display: flex;
	justify-content: center;
}

#notification-msg {
	position: fixed;
	color: white;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	padding: 8px 14px;
	opacity: 0;
}

.fade-anim {
	animation: fade 4s linear;
}

@keyframes fade {
	0% {opacity: 0}
	5% {opacity: 1}
	95% {opacity: 1}
	100% {opacity: 0}
}