h3, h4 {
  cursor: default;
}

body {
	padding-bottom: 40px;
}

button {
	cursor: pointer;
	color: white;
  border-radius: 5px;
	background-color: #1a73e8;
	border-color: #2e6da4;
	padding: 3px 10px;
  outline: none;
}

input {
	max-width: 50%;
}

div > p {
	font-weight: normal;
}

.home-icon {
	max-width: 30px;
	height: auto;
	float: right;
}

.settings {
	padding: 50px 25% 0 35%;
}

.setting-box {
	border: .5px solid lightgrey;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 2px grey;
	padding: 15px;
	max-width: 500px;
}

.remove {
	cursor: pointer;
	max-width: 20px;
	height: auto;
	float: right;
}

.hide {
	display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .2s;
  border-radius: 30px;
}

.knob {
  position: absolute;
  cursor: pointer;
  height: 16px;
  width: 16px;
  left: -1px;
  background-color: white;
  transition: .2s;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.checkbox:checked + .slider {
  background-color: #1a73e8;
  opacity: .5;
}

/*select any .knob class after a (.slider class that is after a .checkbox class that is checked)*/
.checkbox:checked + .slider + .knob {
  transform: translateX(22px);
  background-color: #1a73e8;
  border: none;
}

.slider-container {
  position: relative;
  display: inline-flex;
  float: right;
  top: 2px;
  width: 35px;
  height: 14px;
}

.checkbox {
	display: none;
}

#link-input-div {
  padding: 5px 5px 5px 0;
}

.link-inputfield {
  margin: 5px 3px;
  font-size: 15px;
  width: 90%;
}

#link-setting {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

#link-setting > p {
  width: 100%;
  margin: 10px 0;
}

.add-link-button {
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button {
  background-color: red;
  border-color: orange;
}

.edit-button {
  float: right;
}

.pad-top {
  padding-top: 10px;
}

#notification {
  display: flex;
  justify-content: center;
}

#notification-msg {
  position: fixed;
  color: white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  padding: 8px 14px;
  opacity: 0;
}

.fade-anim {
  animation: fade 4s linear;
}

.text-cursor {
  cursor: text;
}

.disabled {
  opacity: .4;
}

p:empty:not(:focus):before {
  color: #999;
  content:attr(default-text) 
}



@keyframes fade {
  0% {opacity: 0}
  5% {opacity: 1}
  95% {opacity: 1}
  100% {opacity: 0}
}